<h3 translate>Background</h3>
<ul class="nav-tabs" ngbNav #nav="ngbNav">
  <li ngbNavItem>
    <a ngbNavLink translate>Background</a>
    <ng-template ngbNavContent>
      <div class="form-line">
        <div class="header">
          <div class="title" translate>Enable background</div>
          <div class="description" translate>Background image master switch</div>
        </div>
        <toggle [(ngModel)]="pluginConfig.backgroundEnabled" (ngModelChange)="apply()"> </toggle>
      </div>

      <div class="content-box" *ngIf="pluginConfig.backgroundEnabled === true">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>Background mode</div>
            <div class="description" translate>Background mode</div>
          </div>
          <select
            class="form-control"
            [(ngModel)]="pluginConfig.backgroundMode"
            (ngModelChange)="apply()"
          >
            <option [ngValue]="'simple'" translate>Simple</option>
            <option [ngValue]="'advanced'" translate>Advanced (experimental)</option>
          </select>
        </div>
        <div class="content-box" *ngIf="pluginConfig.backgroundMode === 'simple'">
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background path</div>
              <div class="description" translate>Relative path begins with ../../../data</div>
            </div>
            <div class="input-group w-50">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="pluginConfig.backgroundPath"
                (ngModelChange)="apply()"
              />
              <button class="btn btn-secondary" (click)="pickFile()">
                <i class="fas fa-folder-open"> </i>
              </button>
            </div>
          </div>
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background show type</div>
            </div>
            <div class="btn-group">
              <input
                class="btn-check"
                type="radio"
                name="backgroundShowType"
                [(ngModel)]="pluginConfig.backgroundShowType"
                (ngModelChange)="apply()"
                id="showTypeFullscreen"
                [value]="'fullscreen'"
              />
              <label class="btn btn-secondary" for="showTypeFullscreen">
                <span translate>Fullscreen</span>
              </label>
              <input
                class="btn-check"
                type="radio"
                name="backgroundShowType"
                [(ngModel)]="pluginConfig.backgroundShowType"
                (ngModelChange)="apply()"
                id="showTypeFullscreenFloat"
                [value]="'float'"
              />
              <label class="btn btn-secondary" for="showTypeFullscreenFloat">
                <span translate>Float</span>
              </label>
            </div>
          </div>
          <div class="content-box" *ngIf="pluginConfig.backgroundShowType === 'fullscreen'">
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Fullscreen type</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenType"
                  [(ngModel)]="pluginConfig.backgroundFullscreenType"
                  (ngModelChange)="apply()"
                  id="fullscreenTypeContain"
                  [value]="'contain'"
                />
                <label class="btn btn-secondary" for="fullscreenTypeContain">
                  <span translate>Contain</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenType"
                  [(ngModel)]="pluginConfig.backgroundFullscreenType"
                  (ngModelChange)="apply()"
                  id="fullscreenTypeCover"
                  [value]="'cover'"
                />
                <label class="btn btn-secondary" for="fullscreenTypeCover">
                  <span translate>Cover</span>
                </label>
              </div>
            </div>
            <div class="form-line" *ngIf="pluginConfig.backgroundFullscreenType === 'contain'">
              <div class="header">
                <div class="title" translate>Repeat type</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenRepeatType"
                  [(ngModel)]="pluginConfig.backgroundFullscreenRepeatType"
                  (ngModelChange)="apply()"
                  id="fullscreenRepeatTypeRepeat"
                  [value]="'repeat'"
                />
                <label class="btn btn-secondary" for="fullscreenRepeatTypeRepeat">
                  <span translate>Repeat</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenRepeatType"
                  [(ngModel)]="pluginConfig.backgroundFullscreenRepeatType"
                  (ngModelChange)="apply()"
                  id="fullscreenRepeatTypeNoRepeat"
                  [value]="'no-repeat'"
                />
                <label class="btn btn-secondary" for="fullscreenRepeatTypeNoRepeat">
                  <span translate>No Repeat</span>
                </label>
              </div>
            </div>
          </div>
          <div class="content-box" *ngIf="pluginConfig.backgroundShowType === 'float'">
            <h4 translate>Float Parameters</h4>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float size</div>
                <div class="description" translate>Unit: px</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="pluginConfig.backgroundFloatSize"
                (mouseup)="apply()"
                min="0"
                max="1000"
                step="1"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="pluginConfig.backgroundFloatSize = 300; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                min="0"
                [(ngModel)]="pluginConfig.backgroundFloatSize"
                (ngModelChange)="apply()"
              />
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float X offset</div>
                <div class="description" translate>Unit: px</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="pluginConfig.backgroundFloatX"
                (mouseup)="apply()"
                min="-100"
                max="1000"
                step="1"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="pluginConfig.backgroundFloatX = 0; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="pluginConfig.backgroundFloatX"
                (ngModelChange)="apply()"
              />
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float Y offset</div>
                <div class="description" translate>Unit: px</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="pluginConfig.backgroundFloatY"
                (mouseup)="apply()"
                min="-100"
                max="1000"
                step="1"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="pluginConfig.backgroundFloatY = 0; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="pluginConfig.backgroundFloatY"
                (ngModelChange)="apply()"
              />
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float X align</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="floatXAlign"
                  [(ngModel)]="pluginConfig.backgroundFloatXAlign"
                  (ngModelChange)="apply()"
                  id="floatXAlignLeft"
                  [value]="'left'"
                />
                <label class="btn btn-secondary" for="floatXAlignLeft">
                  <span translate>Left</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatXAlign"
                  [(ngModel)]="pluginConfig.backgroundFloatXAlign"
                  (ngModelChange)="apply()"
                  id="floatXAlignCenter"
                  [value]="'center'"
                />
                <label class="btn btn-secondary" for="floatXAlignCenter">
                  <span translate>Center</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatXAlign"
                  [(ngModel)]="pluginConfig.backgroundFloatXAlign"
                  (ngModelChange)="apply()"
                  id="floatXAlignRight"
                  [value]="'right'"
                />
                <label class="btn btn-secondary" for="floatXAlignRight">
                  <span translate>Right</span>
                </label>
              </div>
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float Y align</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="floatYAlign"
                  [(ngModel)]="pluginConfig.backgroundFloatYAlign"
                  (ngModelChange)="apply()"
                  id="floatYAlignTop"
                  [value]="'top'"
                />
                <label class="btn btn-secondary" for="floatYAlignTop">
                  <span translate>Top</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatYAlign"
                  [(ngModel)]="pluginConfig.backgroundFloatYAlign"
                  (ngModelChange)="apply()"
                  id="floatYAlignCenter"
                  [value]="'center'"
                />
                <label class="btn btn-secondary" for="floatYAlignCenter">
                  <span translate>Center</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatYAlign"
                  [(ngModel)]="pluginConfig.backgroundFloatYAlign"
                  (ngModelChange)="apply()"
                  id="floatYAlignBottom"
                  [value]="'bottom'"
                />
                <label class="btn btn-secondary" for="floatYAlignBottom">
                  <span translate>Bottom</span>
                </label>
              </div>
            </div>
            <div class="content-box" *ngIf="pluginConfig.backgroundShowType === 'float'">
              <h4 translate>Drop Shadow Parameters</h4>
              <div class="form-line">
                <div class="header">
                  <div class="title" translate>Enable drop shadow</div>
                  <div class="description"></div>
                </div>
                <toggle
                  [(ngModel)]="pluginConfig.backgroundDropShadowEnabled"
                  (ngModelChange)="apply()"
                >
                </toggle>
              </div>
              <div class="content-box" *ngIf="pluginConfig.backgroundDropShadowEnabled === true">
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow X offset</div>
                    <div class="description" translate>Unit: px</div>
                  </div>
                  <input
                    class="me-3"
                    type="range"
                    [(ngModel)]="pluginConfig.backgroundDropShadowX"
                    (mouseup)="apply()"
                    min="-200"
                    max="200"
                    step="1"
                  />
                  <button
                    class="btn btn-outline-secondary me-3"
                    (click)="pluginConfig.backgroundDropShadowX = 0; apply()"
                  >
                    <i class="fas fa-solid fa-rotate-left"> </i>
                  </button>
                  <input
                    class="form-control param-input"
                    type="number"
                    [(ngModel)]="pluginConfig.backgroundDropShadowX"
                    (ngModelChange)="apply()"
                  />
                </div>
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow Y offset</div>
                    <div class="description" translate>Unit: px</div>
                  </div>
                  <input
                    class="me-3"
                    type="range"
                    [(ngModel)]="pluginConfig.backgroundDropShadowY"
                    (mouseup)="apply()"
                    min="-200"
                    max="200"
                    step="1"
                  />
                  <button
                    class="btn btn-outline-secondary me-3"
                    (click)="pluginConfig.backgroundDropShadowY = 0; apply()"
                  >
                    <i class="fas fa-solid fa-rotate-left"> </i>
                  </button>
                  <input
                    class="form-control param-input"
                    type="number"
                    [(ngModel)]="pluginConfig.backgroundDropShadowY"
                    (ngModelChange)="apply()"
                  />
                </div>
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow blur</div>
                    <div class="description" translate>Unit: px</div>
                  </div>
                  <input
                    class="me-3"
                    type="range"
                    [(ngModel)]="pluginConfig.backgroundDropShadowBlur"
                    (mouseup)="apply()"
                    min="0"
                    max="100"
                    step="0.1"
                  />
                  <button
                    class="btn btn-outline-secondary me-3"
                    (click)="pluginConfig.backgroundDropShadowBlur = 0; apply()"
                  >
                    <i class="fas fa-solid fa-rotate-left"> </i>
                  </button>
                  <input
                    class="form-control param-input"
                    type="number"
                    min="0"
                    max="100"
                    step="0.1"
                    [(ngModel)]="pluginConfig.backgroundDropShadowBlur"
                    (ngModelChange)="apply()"
                  />
                </div>
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow color</div>
                    <div class="description" translate>
                      Use RGBA (#FF0000A0) or color name(red, green, ...)
                    </div>
                  </div>
                  <input
                    class="form-control font-family-input"
                    type="text"
                    [(ngModel)]="pluginConfig.backgroundDropShadowColor"
                    (ngModelChange)="apply()"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="h4" translate>Background Filters</div>
          <ng-container *ngFor="let item of filters">
            <div class="form-line">
              <div class="header">
                <div class="title" translate>{{ item.title }}</div>
                <div class="description" translate>{{ item.description }}</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="pluginConfig[item.model]"
                (mouseup)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="pluginConfig[item.model] = item.default; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="pluginConfig[item.model]"
                (ngModelChange)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
            </div>
          </ng-container>
          <div class="h4" translate>Extra Settings</div>
          <ng-container *ngFor="let item of extraSettings">
            <div class="form-line">
              <div class="header">
                <div class="title" translate>{{ item.title }}</div>
                <div class="description" translate>{{ item.description }}</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="pluginConfig[item.model]"
                (mouseup)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="pluginConfig[item.model] = item.default; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="pluginConfig[item.model]"
                (ngModelChange)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
            </div>
          </ng-container>
        </div>
        <div class="content-box" *ngIf="pluginConfig.backgroundMode === 'advanced'">
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background switch type</div>
              <div class="description" translate>When switch background</div>
            </div>
            <select
              class="form-control"
              [(ngModel)]="pluginConfig.backgroundAdvancedSwitchType"
              (ngModelChange)="apply()"
            >
              <option [ngValue]="'slideshow'" translate>Slideshow</option>
              <option [ngValue]="'session'" translate>New Session</option>
            </select>
          </div>
          <div class="form-line" *ngIf="pluginConfig.backgroundAdvancedSwitchType === 'slideshow'">
            <div class="header">
              <div class="title" translate>Slideshow interval</div>
              <div class="description" translate>Slideshow interval (second)</div>
            </div>
            <input
              class="me-3"
              type="range"
              [(ngModel)]="pluginConfig.backgroundAdvancedSlideshowInterval"
              (mouseup)="apply()"
              [min]="1"
              [max]="604800"
              [step]="1"
            />
            <button
              class="btn btn-outline-secondary me-3"
              (click)="pluginConfig.backgroundAdvancedSlideshowInterval = 3600; apply()"
            >
              <i class="fas fa-solid fa-rotate-left"> </i>
            </button>
            <input
              class="form-control param-input"
              type="number"
              [(ngModel)]="pluginConfig.backgroundAdvancedSlideshowInterval"
              (ngModelChange)="apply()"
              [min]="1"
              [max]="604800"
              [step]="1"
            />
          </div>
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background choose type</div>
              <div class="description" translate>How to choose background</div>
            </div>
            <select
              class="form-control"
              [(ngModel)]="pluginConfig.backgroundAdvancedChooseType"
              (ngModelChange)="apply()"
            >
              <option [ngValue]="'sequence'" translate>Sequence</option>
              <option [ngValue]="'random'" translate>Random</option>
              <option [ngValue]="'random'" translate>Reverse</option>
            </select>
          </div>

          <div class="d-flex w-100">
            <button class="btn btn-primary" (click)="addBackground()">
              <i class="fas fa-solid fa-plus"></i>
              <span translate>Add</span>
            </button>
            <div class="flex-grow-1"></div>
            <button class="btn btn-primary" (click)="importHighlightProfile()">
              <i class="fas fa-solid fa-file-import"></i>
              <span translate>Import</span>
            </button>
            <button class="btn btn-primary ms-2" (click)="exportHighlightProfile()">
              <i class="fas fa-solid fa-file-export"></i>
              <span translate>Export</span>
            </button>
          </div>
          <div
            class="list-group mt-3 mb-3"
            cdkDropList
            (cdkDropListDropped)="dropBackgroundItem($event)"
          >
            <div class="container list-group-item active align-items-center">
              <div class="row">
                <div class="col col-1 gx-1">
                  <button class="btn border-0" disabled>
                    <i class="fa-solid fa-toggle-on"></i>
                  </button>
                </div>

                <div class="col col-2 gx-1 d-flex justify-content-center align-items-center">
                  <span class="text-center" translate>Name</span>
                </div>
                <div class="col gx-1 d-flex justify-content-center align-items-center">
                  <span class="text-center" translate>Path</span>
                </div>
                <div class="col col-auto gx-1">
                  <button
                    class="btn border border-dark"
                    style="width: 60px; --bs-border-opacity: 0"
                    disabled
                  >
                    <i class="fa-solid fa-palette"></i>
                  </button>
                </div>
                <div class="col col-auto gx-1">
                  <button class="btn border border-dark" style="--bs-border-opacity: 0" disabled>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
                <div class="col col-auto gx-1">
                  <button class="btn border border-dark" style="--bs-border-opacity: 0" disabled>
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let item of pluginConfig.backgrounds; let i = index">
              <div
                class="container list-group-item align-items-center list-group-item-action list-group-item-background"
                cdkDrag
              >
                <div class="row">
                  <div class="col col-1 gx-1 d-flex justify-content-center align-items-center">
                    <toggle cdkDragHandle [(ngModel)]="item.enabled" (ngModelChange)="apply()">
                    </toggle>
                  </div>
                  <div class="col col-2 gx-1">
                    <input
                      class="form-control"
                      style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(3px)"
                      type="text"
                      [(ngModel)]="item.name"
                      (ngModelChange)="apply()"
                    />
                  </div>
                  <div class="col gx-1">
                    <div class="input-group">
                      <input
                        class="form-control"
                        style="background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(3px)"
                        type="text"
                        [(ngModel)]="item.backgroundPath"
                        (ngModelChange)="apply()"
                      />
                      <button class="btn btn-secondary" (click)="pickFile()">
                        <i class="fas fa-folder-open"> </i>
                      </button>
                    </div>
                  </div>
                  <div class="col col-auto gx-1 d-flex justify-content-center align-items-center">
                    <div ngbDropdown container="body" placement="top-right">
                      <button
                        class="btn btn-outline-primary"
                        style="width: 60px"
                        ngbDropdownToggle
                        (click)="$event.stopPropagation()"
                      >
                        <i class="fa-solid fa-palette"></i>
                      </button>
                      <div
                        class="border border-black"
                        ngbDropdownMenu
                        style="
                          min-width: 450px;
                          max-height: 300px;
                          overflow: scroll;
                          background-color: rgba(0, 0, 0, 0.3);
                          backdrop-filter: blur(3px);
                        "
                      >
                        <div class="container-fluid">
                          <div class="form-line">
                            <div class="header">
                              <div class="title" translate>Background show type</div>
                            </div>
                            <div class="btn-group">
                              <input
                                class="btn-check"
                                type="radio"
                                name="backgroundShowType-{{ i }}"
                                [(ngModel)]="item.backgroundShowType"
                                (ngModelChange)="apply()"
                                id="showTypeFullscreen-{{ i }}"
                                [value]="'fullscreen'"
                              />
                              <label class="btn btn-secondary" for="showTypeFullscreen-{{ i }}">
                                <span translate>Fullscreen</span>
                              </label>
                              <input
                                class="btn-check"
                                type="radio"
                                name="backgroundShowType-{{ i }}"
                                [(ngModel)]="item.backgroundShowType"
                                (ngModelChange)="apply()"
                                id="showTypeFullscreenFloat-{{ i }}"
                                [value]="'float'"
                              />
                              <label
                                class="btn btn-secondary"
                                for="showTypeFullscreenFloat-{{ i }}"
                              >
                                <span translate>Float</span>
                              </label>
                            </div>
                          </div>
                          <div class="content-box" *ngIf="item.backgroundShowType === 'fullscreen'">
                            <div class="form-line">
                              <div class="header">
                                <div class="title" translate>Fullscreen type</div>
                              </div>
                              <div class="btn-group">
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="backgroundFullscreenType-{{ i }}"
                                  [(ngModel)]="item.backgroundFullscreenType"
                                  (ngModelChange)="apply()"
                                  id="fullscreenTypeContain-{{ i }}"
                                  [value]="'contain'"
                                />
                                <label
                                  class="btn btn-secondary"
                                  for="fullscreenTypeContain-{{ i }}"
                                >
                                  <span translate>Contain</span>
                                </label>
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="backgroundFullscreenType-{{ i }}"
                                  [(ngModel)]="item.backgroundFullscreenType"
                                  (ngModelChange)="apply()"
                                  id="fullscreenTypeCover-{{ i }}"
                                  [value]="'cover'"
                                />
                                <label class="btn btn-secondary" for="fullscreenTypeCover-{{ i }}">
                                  <span translate>Cover</span>
                                </label>
                              </div>
                            </div>
                            <div
                              class="form-line"
                              *ngIf="item.backgroundFullscreenType === 'contain'"
                            >
                              <div class="header">
                                <div class="title" translate>Repeat type</div>
                              </div>
                              <div class="btn-group">
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="backgroundFullscreenRepeatType-{{ i }}"
                                  [(ngModel)]="item.backgroundFullscreenRepeatType"
                                  (ngModelChange)="apply()"
                                  id="fullscreenRepeatTypeRepeat-{{ i }}"
                                  [value]="'repeat'"
                                />
                                <label
                                  class="btn btn-secondary"
                                  for="fullscreenRepeatTypeRepeat-{{ i }}"
                                >
                                  <span translate>Repeat</span>
                                </label>
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="backgroundFullscreenRepeatType-{{ i }}"
                                  [(ngModel)]="item.backgroundFullscreenRepeatType"
                                  (ngModelChange)="apply()"
                                  id="fullscreenRepeatTypeNoRepeat-{{ i }}"
                                  [value]="'no-repeat'"
                                />
                                <label
                                  class="btn btn-secondary"
                                  for="fullscreenRepeatTypeNoRepeat-{{ i }}"
                                >
                                  <span translate>No Repeat</span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="content-box" *ngIf="item.backgroundShowType === 'float'">
                            <h4 translate>Float Parameters</h4>
                            <div class="form-line">
                              <div class="header">
                                <div class="title" translate>Float size</div>
                                <div class="description" translate>Unit: px</div>
                              </div>
                              <input
                                class="me-3"
                                type="range"
                                [(ngModel)]="item.backgroundFloatSize"
                                (mouseup)="apply()"
                                min="0"
                                max="1000"
                                step="1"
                              />
                              <button
                                class="btn btn-outline-secondary me-3"
                                (click)="item.backgroundFloatSize = 300; apply()"
                              >
                                <i class="fas fa-solid fa-rotate-left"> </i>
                              </button>
                              <input
                                class="form-control param-input"
                                type="number"
                                min="0"
                                [(ngModel)]="item.backgroundFloatSize"
                                (ngModelChange)="apply()"
                              />
                            </div>
                            <div class="form-line">
                              <div class="header">
                                <div class="title" translate>Float X offset</div>
                                <div class="description" translate>Unit: px</div>
                              </div>
                              <input
                                class="me-3"
                                type="range"
                                [(ngModel)]="item.backgroundFloatX"
                                (mouseup)="apply()"
                                min="-100"
                                max="1000"
                                step="1"
                              />
                              <button
                                class="btn btn-outline-secondary me-3"
                                (click)="item.backgroundFloatX = 0; apply()"
                              >
                                <i class="fas fa-solid fa-rotate-left"> </i>
                              </button>
                              <input
                                class="form-control param-input"
                                type="number"
                                [(ngModel)]="item.backgroundFloatX"
                                (ngModelChange)="apply()"
                              />
                            </div>
                            <div class="form-line">
                              <div class="header">
                                <div class="title" translate>Float Y offset</div>
                                <div class="description" translate>Unit: px</div>
                              </div>
                              <input
                                class="me-3"
                                type="range"
                                [(ngModel)]="item.backgroundFloatY"
                                (mouseup)="apply()"
                                min="-100"
                                max="1000"
                                step="1"
                              />
                              <button
                                class="btn btn-outline-secondary me-3"
                                (click)="item.backgroundFloatY = 0; apply()"
                              >
                                <i class="fas fa-solid fa-rotate-left"> </i>
                              </button>
                              <input
                                class="form-control param-input"
                                type="number"
                                [(ngModel)]="item.backgroundFloatY"
                                (ngModelChange)="apply()"
                              />
                            </div>
                            <div class="form-line">
                              <div class="header">
                                <div class="title" translate>Float X align</div>
                              </div>
                              <div class="btn-group">
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="floatXAlign-{{ i }}"
                                  [(ngModel)]="item.backgroundFloatXAlign"
                                  (ngModelChange)="apply()"
                                  id="floatXAlignLeft-{{ i }}"
                                  [value]="'left'"
                                />
                                <label class="btn btn-secondary" for="floatXAlignLeft-{{ i }}">
                                  <span translate>Left</span>
                                </label>
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="floatXAlign-{{ i }}"
                                  [(ngModel)]="item.backgroundFloatXAlign"
                                  (ngModelChange)="apply()"
                                  id="floatXAlignCenter-{{ i }}"
                                  [value]="'center'"
                                />
                                <label class="btn btn-secondary" for="floatXAlignCenter-{{ i }}">
                                  <span translate>Center</span>
                                </label>
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="floatXAlign-{{ i }}"
                                  [(ngModel)]="item.backgroundFloatXAlign"
                                  (ngModelChange)="apply()"
                                  id="floatXAlignRight-{{ i }}"
                                  [value]="'right'"
                                />
                                <label class="btn btn-secondary" for="floatXAlignRight-{{ i }}">
                                  <span translate>Right</span>
                                </label>
                              </div>
                            </div>
                            <div class="form-line">
                              <div class="header">
                                <div class="title" translate>Float Y align</div>
                              </div>
                              <div class="btn-group">
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="floatYAlign-{{ i }}"
                                  [(ngModel)]="item.backgroundFloatYAlign"
                                  (ngModelChange)="apply()"
                                  id="floatYAlignTop-{{ i }}"
                                  [value]="'top'"
                                />
                                <label class="btn btn-secondary" for="floatYAlignTop-{{ i }}">
                                  <span translate>Top</span>
                                </label>
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="floatYAlign-{{ i }}"
                                  [(ngModel)]="item.backgroundFloatYAlign"
                                  (ngModelChange)="apply()"
                                  id="floatYAlignCenter-{{ i }}"
                                  [value]="'center'"
                                />
                                <label class="btn btn-secondary" for="floatYAlignCenter-{{ i }}">
                                  <span translate>Center</span>
                                </label>
                                <input
                                  class="btn-check"
                                  type="radio"
                                  name="floatYAlign-{{ i }}"
                                  [(ngModel)]="item.backgroundFloatYAlign"
                                  (ngModelChange)="apply()"
                                  id="floatYAlignBottom-{{ i }}"
                                  [value]="'bottom'"
                                />
                                <label class="btn btn-secondary" for="floatYAlignBottom-{{ i }}">
                                  <span translate>Bottom</span>
                                </label>
                              </div>
                            </div>
                            <div class="content-box" *ngIf="item.backgroundShowType === 'float'">
                              <h4 translate>Drop Shadow Parameters</h4>
                              <div class="form-line">
                                <div class="header">
                                  <div class="title" translate>Enable drop shadow</div>
                                  <div class="description"></div>
                                </div>
                                <toggle
                                  [(ngModel)]="item.backgroundDropShadowEnabled"
                                  (ngModelChange)="apply()"
                                >
                                </toggle>
                              </div>
                              <div
                                class="content-box"
                                *ngIf="item.backgroundDropShadowEnabled === true"
                              >
                                <div class="form-line">
                                  <div class="header">
                                    <div class="title" translate>Drop shadow X offset</div>
                                    <div class="description" translate>Unit: px</div>
                                  </div>
                                  <input
                                    class="me-3"
                                    type="range"
                                    [(ngModel)]="item.backgroundDropShadowX"
                                    (mouseup)="apply()"
                                    min="-200"
                                    max="200"
                                    step="1"
                                  />
                                  <button
                                    class="btn btn-outline-secondary me-3"
                                    (click)="item.backgroundDropShadowX = 0; apply()"
                                  >
                                    <i class="fas fa-solid fa-rotate-left"> </i>
                                  </button>
                                  <input
                                    class="form-control param-input"
                                    type="number"
                                    [(ngModel)]="item.backgroundDropShadowX"
                                    (ngModelChange)="apply()"
                                  />
                                </div>
                                <div class="form-line">
                                  <div class="header">
                                    <div class="title" translate>Drop shadow Y offset</div>
                                    <div class="description" translate>Unit: px</div>
                                  </div>
                                  <input
                                    class="me-3"
                                    type="range"
                                    [(ngModel)]="item.backgroundDropShadowY"
                                    (mouseup)="apply()"
                                    min="-200"
                                    max="200"
                                    step="1"
                                  />
                                  <button
                                    class="btn btn-outline-secondary me-3"
                                    (click)="item.backgroundDropShadowY = 0; apply()"
                                  >
                                    <i class="fas fa-solid fa-rotate-left"> </i>
                                  </button>
                                  <input
                                    class="form-control param-input"
                                    type="number"
                                    [(ngModel)]="item.backgroundDropShadowY"
                                    (ngModelChange)="apply()"
                                  />
                                </div>
                                <div class="form-line">
                                  <div class="header">
                                    <div class="title" translate>Drop shadow blur</div>
                                    <div class="description" translate>Unit: px</div>
                                  </div>
                                  <input
                                    class="me-3"
                                    type="range"
                                    [(ngModel)]="item.backgroundDropShadowBlur"
                                    (mouseup)="apply()"
                                    min="0"
                                    max="100"
                                    step="0.1"
                                  />
                                  <button
                                    class="btn btn-outline-secondary me-3"
                                    (click)="item.backgroundDropShadowBlur = 0; apply()"
                                  >
                                    <i class="fas fa-solid fa-rotate-left"> </i>
                                  </button>
                                  <input
                                    class="form-control param-input"
                                    type="number"
                                    min="0"
                                    max="100"
                                    step="0.1"
                                    [(ngModel)]="item.backgroundDropShadowBlur"
                                    (ngModelChange)="apply()"
                                  />
                                </div>
                                <div class="form-line">
                                  <div class="header">
                                    <div class="title" translate>Drop shadow color</div>
                                    <div class="description" translate>
                                      Use RGBA (#FF0000A0) or color name(red, green, ...)
                                    </div>
                                  </div>
                                  <input
                                    class="form-control"
                                    style="width: 120px"
                                    type="text"
                                    [(ngModel)]="item.backgroundDropShadowColor"
                                    (ngModelChange)="apply()"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="h4" translate>Background Filters</div>
                          <ng-container *ngFor="let item of filters">
                            <div class="form-line">
                              <div class="header">
                                <div class="title" translate>{{ item.title }}</div>
                                <div class="description" translate>{{ item.description }}</div>
                              </div>
                              <input
                                class="me-3"
                                type="range"
                                [(ngModel)]="pluginConfig[item.model]"
                                (mouseup)="apply()"
                                [min]="item.min"
                                [max]="item.max"
                                [step]="item.step"
                              />
                              <button
                                class="btn btn-outline-secondary me-3"
                                (click)="pluginConfig[item.model] = item.default; apply()"
                              >
                                <i class="fas fa-solid fa-rotate-left"> </i>
                              </button>
                              <input
                                class="form-control param-input"
                                type="number"
                                [(ngModel)]="pluginConfig[item.model]"
                                (ngModelChange)="apply()"
                                [min]="item.min"
                                [max]="item.max"
                                [step]="item.step"
                              />
                            </div>

                            <!-- <div class="row mt-1" style="min-height: 40px">
                              <div class="col d-flex align-items-center">
                                <span class="ms-1" translate>{{ item.title }}</span>
                              </div>
                              <div
                                class="col-md-auto d-flex align-items-center"
                                *ngIf="style.valueType"
                              >
                                <input
                                  class="form-control"
                                  [type]="style.valueType"
                                  [min]="style.min"
                                  [max]="style.max"
                                  [(ngModel)]="item[style.valueModel]"
                                  (ngModelChange)="apply()"
                                  style="
                                    width: 70px;
                                    flex: none;
                                    background-color: rgba(0, 0, 0, 0.3);
                                    backdrop-filter: blur(3px);
                                  "
                                />
                              </div>
                              <div class="col-md-auto d-flex align-items-center">
                                <checkbox
                                  class="ms-1"
                                  [(ngModel)]="item[style.enabledModel]"
                                  (ngModelChange)="apply()"
                                >
                                </checkbox>
                              </div>
                            </div> -->
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-auto gx-1 d-flex justify-content-center align-items-center">
                    <button class="btn btn-outline-secondary" (click)="previewBackground(i)">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </div>
                  <div class="col col-auto gx-1 d-flex justify-content-center align-items-center">
                    <button class="btn btn-outline-secondary" (click)="delBackground(i)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink translate>UI Font</a>
    <ng-template ngbNavContent>
      <div class="form-line">
        <div class="header">
          <div class="title" translate>Enable UI font replace</div>
          <div class="description" translate>
            Do not affect the terminal font in the [appearance] configuration
          </div>
        </div>
        <toggle [(ngModel)]="pluginConfig.uiFontEnabled" (ngModelChange)="apply()"> </toggle>
      </div>
      <div class="content-box" *ngIf="pluginConfig.uiFontEnabled === true">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>UI Font Family</div>
          </div>
          <div class="input-group w-75">
            <input
              class="form-control font-family-input"
              type="text"
              [(ngModel)]="pluginConfig.uiFontFamily"
              (ngModelChange)="apply()"
            />
            <input
              class="form-control font-size-input"
              type="number"
              min="5"
              max="48"
              [(ngModel)]="pluginConfig.uiFontSize"
              (ngModelChange)="apply()"
            />
          </div>
        </div>
        <div class="form-line">
          <div class="header">
            <div class="title" translate>Fix close button font</div>
            <div class="description" translate>Restore the tab closing button to default font</div>
          </div>
          <toggle [(ngModel)]="pluginConfig.uiFontTabBarCloseBtnFix" (ngModelChange)="apply()">
          </toggle>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink translate>Others</a>
    <ng-template ngbNavContent>
      <ng-container *ngFor="let item of others">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>{{ item.title }}</div>
            <div class="description" translate>{{ item.description }}</div>
          </div>
          <input
            class="me-3"
            type="range"
            [(ngModel)]="pluginConfig[item.model]"
            (mouseup)="apply()"
            [min]="item.min"
            [max]="item.max"
            [step]="item.step"
          />
          <button
            class="btn btn-outline-secondary me-3"
            (click)="pluginConfig[item.model] = item.default; apply()"
          >
            <i class="fas fa-solid fa-rotate-left"> </i>
          </button>
          <input
            class="form-control param-input"
            type="number"
            [(ngModel)]="pluginConfig[item.model]"
            (ngModelChange)="apply()"
            [min]="item.min"
            [max]="item.max"
            [step]="item.step"
          />
        </div>
      </ng-container>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
