<h3 translate>Background</h3>
<ul class="nav-tabs" ngbNav #nav="ngbNav">
  <li ngbNavItem>
    <a ngbNavLink translate>Background</a>
    <ng-template ngbNavContent>
      <div class="form-line">
        <div class="header">
          <div class="title" translate>Enable background</div>
          <div class="description" translate>Background image master switch</div>
        </div>
        <toggle
          [(ngModel)]="config.store.backgroundPlugin.backgroundEnabled"
          (ngModelChange)="apply()"
        >
        </toggle>
      </div>

      <div class="content-box" *ngIf="config.store.backgroundPlugin.backgroundEnabled === true">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>Background mode</div>
            <div class="description" translate>Background mode</div>
          </div>
          <select
            class="form-control"
            [(ngModel)]="pluginConfig.backgroundMode"
            (ngModelChange)="apply()"
          >
            <option [ngValue]="'simple'" translate>Simple</option>
            <option [ngValue]="'advanced'" translate>Advanced (experimental)</option>
          </select>
        </div>
        <div class="content-box" *ngIf="pluginConfig.backgroundMode === 'simple'">
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background path</div>
              <div class="description" translate>Relative path begins with ../../../data</div>
            </div>
            <div class="input-group w-50">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="config.store.backgroundPlugin.backgroundPath"
                (ngModelChange)="apply()"
              />
              <button class="btn btn-secondary" (click)="pickFile()">
                <i class="fas fa-folder-open"> </i>
              </button>
            </div>
          </div>
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background show type</div>
            </div>
            <div class="btn-group">
              <input
                class="btn-check"
                type="radio"
                name="backgroundShowType"
                [(ngModel)]="config.store.backgroundPlugin.backgroundShowType"
                (ngModelChange)="apply()"
                id="showTypeFullscreen"
                [value]="'fullscreen'"
              />
              <label class="btn btn-secondary" for="showTypeFullscreen">
                <span translate>Fullscreen</span>
              </label>
              <input
                class="btn-check"
                type="radio"
                name="backgroundShowType"
                [(ngModel)]="config.store.backgroundPlugin.backgroundShowType"
                (ngModelChange)="apply()"
                id="showTypeFullscreenFloat"
                [value]="'float'"
              />
              <label class="btn btn-secondary" for="showTypeFullscreenFloat">
                <span translate>Float</span>
              </label>
            </div>
          </div>
          <div
            class="content-box"
            *ngIf="config.store.backgroundPlugin.backgroundShowType === 'fullscreen'"
          >
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Fullscreen type</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenType"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFullscreenType"
                  (ngModelChange)="apply()"
                  id="fullscreenTypeContain"
                  [value]="'contain'"
                />
                <label class="btn btn-secondary" for="fullscreenTypeContain">
                  <span translate>Contain</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenType"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFullscreenType"
                  (ngModelChange)="apply()"
                  id="fullscreenTypeCover"
                  [value]="'cover'"
                />
                <label class="btn btn-secondary" for="fullscreenTypeCover">
                  <span translate>Cover</span>
                </label>
              </div>
            </div>
            <div
              class="form-line"
              *ngIf="config.store.backgroundPlugin.backgroundFullscreenType === 'contain'"
            >
              <div class="header">
                <div class="title" translate>Repeat type</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenRepeatType"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFullscreenRepeatType"
                  (ngModelChange)="apply()"
                  id="fullscreenRepeatTypeRepeat"
                  [value]="'repeat'"
                />
                <label class="btn btn-secondary" for="fullscreenRepeatTypeRepeat">
                  <span translate>Repeat</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="backgroundFullscreenRepeatType"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFullscreenRepeatType"
                  (ngModelChange)="apply()"
                  id="fullscreenRepeatTypeNoRepeat"
                  [value]="'no-repeat'"
                />
                <label class="btn btn-secondary" for="fullscreenRepeatTypeNoRepeat">
                  <span translate>No Repeat</span>
                </label>
              </div>
            </div>
          </div>
          <div
            class="content-box"
            *ngIf="config.store.backgroundPlugin.backgroundShowType === 'float'"
          >
            <h4 translate>Float Parameters</h4>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float size</div>
                <div class="description" translate>Unit: px</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="config.store.backgroundPlugin.backgroundFloatSize"
                (mouseup)="apply()"
                min="0"
                max="1000"
                step="1"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="config.store.backgroundPlugin.backgroundFloatSize = 300; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                min="0"
                [(ngModel)]="config.store.backgroundPlugin.backgroundFloatSize"
                (ngModelChange)="apply()"
              />
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float X offset</div>
                <div class="description" translate>Unit: px</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="config.store.backgroundPlugin.backgroundFloatX"
                (mouseup)="apply()"
                min="-100"
                max="1000"
                step="1"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="config.store.backgroundPlugin.backgroundFloatX = 0; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="config.store.backgroundPlugin.backgroundFloatX"
                (ngModelChange)="apply()"
              />
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float Y offset</div>
                <div class="description" translate>Unit: px</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="config.store.backgroundPlugin.backgroundFloatY"
                (mouseup)="apply()"
                min="-100"
                max="1000"
                step="1"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="config.store.backgroundPlugin.backgroundFloatY = 0; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="config.store.backgroundPlugin.backgroundFloatY"
                (ngModelChange)="apply()"
              />
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float X align</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="floatXAlign"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFloatXAlign"
                  (ngModelChange)="apply()"
                  id="floatXAlignLeft"
                  [value]="'left'"
                />
                <label class="btn btn-secondary" for="floatXAlignLeft">
                  <span translate>Left</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatXAlign"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFloatXAlign"
                  (ngModelChange)="apply()"
                  id="floatXAlignCenter"
                  [value]="'center'"
                />
                <label class="btn btn-secondary" for="floatXAlignCenter">
                  <span translate>Center</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatXAlign"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFloatXAlign"
                  (ngModelChange)="apply()"
                  id="floatXAlignRight"
                  [value]="'right'"
                />
                <label class="btn btn-secondary" for="floatXAlignRight">
                  <span translate>Right</span>
                </label>
              </div>
            </div>
            <div class="form-line">
              <div class="header">
                <div class="title" translate>Float Y align</div>
              </div>
              <div class="btn-group">
                <input
                  class="btn-check"
                  type="radio"
                  name="floatYAlign"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFloatYAlign"
                  (ngModelChange)="apply()"
                  id="floatYAlignTop"
                  [value]="'top'"
                />
                <label class="btn btn-secondary" for="floatYAlignTop">
                  <span translate>Top</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatYAlign"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFloatYAlign"
                  (ngModelChange)="apply()"
                  id="floatYAlignCenter"
                  [value]="'center'"
                />
                <label class="btn btn-secondary" for="floatYAlignCenter">
                  <span translate>Center</span>
                </label>
                <input
                  class="btn-check"
                  type="radio"
                  name="floatYAlign"
                  [(ngModel)]="config.store.backgroundPlugin.backgroundFloatYAlign"
                  (ngModelChange)="apply()"
                  id="floatYAlignBottom"
                  [value]="'bottom'"
                />
                <label class="btn btn-secondary" for="floatYAlignBottom">
                  <span translate>Bottom</span>
                </label>
              </div>
            </div>
            <div
              class="content-box"
              *ngIf="config.store.backgroundPlugin.backgroundShowType === 'float'"
            >
              <h4 translate>Drop Shadow Parameters</h4>
              <div class="form-line">
                <div class="header">
                  <div class="title" translate>Enable drop shadow</div>
                  <div class="description"></div>
                </div>
                <toggle
                  [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowEnabled"
                  (ngModelChange)="apply()"
                >
                </toggle>
              </div>
              <div
                class="content-box"
                *ngIf="config.store.backgroundPlugin.backgroundDropShadowEnabled === true"
              >
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow X offset</div>
                    <div class="description" translate>Unit: px</div>
                  </div>
                  <input
                    class="me-3"
                    type="range"
                    [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowX"
                    (mouseup)="apply()"
                    min="-200"
                    max="200"
                    step="1"
                  />
                  <button
                    class="btn btn-outline-secondary me-3"
                    (click)="config.store.backgroundPlugin.backgroundDropShadowX = 0; apply()"
                  >
                    <i class="fas fa-solid fa-rotate-left"> </i>
                  </button>
                  <input
                    class="form-control param-input"
                    type="number"
                    [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowX"
                    (ngModelChange)="apply()"
                  />
                </div>
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow Y offset</div>
                    <div class="description" translate>Unit: px</div>
                  </div>
                  <input
                    class="me-3"
                    type="range"
                    [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowY"
                    (mouseup)="apply()"
                    min="-200"
                    max="200"
                    step="1"
                  />
                  <button
                    class="btn btn-outline-secondary me-3"
                    (click)="config.store.backgroundPlugin.backgroundDropShadowY = 0; apply()"
                  >
                    <i class="fas fa-solid fa-rotate-left"> </i>
                  </button>
                  <input
                    class="form-control param-input"
                    type="number"
                    [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowY"
                    (ngModelChange)="apply()"
                  />
                </div>
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow blur</div>
                    <div class="description" translate>Unit: px</div>
                  </div>
                  <input
                    class="me-3"
                    type="range"
                    [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowBlur"
                    (mouseup)="apply()"
                    min="0"
                    max="100"
                    step="0.1"
                  />
                  <button
                    class="btn btn-outline-secondary me-3"
                    (click)="config.store.backgroundPlugin.backgroundDropShadowBlur = 0; apply()"
                  >
                    <i class="fas fa-solid fa-rotate-left"> </i>
                  </button>
                  <input
                    class="form-control param-input"
                    type="number"
                    min="0"
                    max="100"
                    step="0.1"
                    [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowBlur"
                    (ngModelChange)="apply()"
                  />
                </div>
                <div class="form-line">
                  <div class="header">
                    <div class="title" translate>Drop shadow color</div>
                    <div class="description" translate>
                      Use RGBA (#FF0000A0) or color name(red, green, ...)
                    </div>
                  </div>
                  <input
                    class="form-control font-family-input"
                    type="text"
                    [(ngModel)]="config.store.backgroundPlugin.backgroundDropShadowColor"
                    (ngModelChange)="apply()"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="h4" translate>Background Filters</div>
          <ng-container *ngFor="let item of filters">
            <div class="form-line">
              <div class="header">
                <div class="title" translate>{{ item.title }}</div>
                <div class="description" translate>{{ item.description }}</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="config.store.backgroundPlugin[item.model]"
                (mouseup)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="config.store.backgroundPlugin[item.model] = item.default; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="config.store.backgroundPlugin[item.model]"
                (ngModelChange)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
            </div>
          </ng-container>
          <div class="h4" translate>Extra Settings</div>
          <ng-container *ngFor="let item of extraSettings">
            <div class="form-line">
              <div class="header">
                <div class="title" translate>{{ item.title }}</div>
                <div class="description" translate>{{ item.description }}</div>
              </div>
              <input
                class="me-3"
                type="range"
                [(ngModel)]="config.store.backgroundPlugin[item.model]"
                (mouseup)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
              <button
                class="btn btn-outline-secondary me-3"
                (click)="config.store.backgroundPlugin[item.model] = item.default; apply()"
              >
                <i class="fas fa-solid fa-rotate-left"> </i>
              </button>
              <input
                class="form-control param-input"
                type="number"
                [(ngModel)]="config.store.backgroundPlugin[item.model]"
                (ngModelChange)="apply()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
              />
            </div>
          </ng-container>
        </div>
        <div class="content-box" *ngIf="pluginConfig.backgroundMode === 'advanced'">
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background switch type</div>
              <div class="description" translate>When switch background</div>
            </div>
            <select
              class="form-control"
              [(ngModel)]="pluginConfig.backgroundAdvancedSwitchType"
              (ngModelChange)="apply()"
            >
              <option [ngValue]="'slideshow'" translate>Slideshow</option>
              <option [ngValue]="'session'" translate>New Session</option>
            </select>
          </div>
          <div class="form-line" *ngIf="pluginConfig.backgroundAdvancedSwitchType === 'slideshow'">
            <div class="header">
              <div class="title" translate>Slideshow interval</div>
              <div class="description" translate>Slideshow interval (second)</div>
            </div>
            <input
              class="me-3"
              type="range"
              [(ngModel)]="pluginConfig.backgroundAdvancedSlideshowInterval"
              (mouseup)="apply()"
              [min]="1"
              [max]="604800"
              [step]="1"
            />
            <button
              class="btn btn-outline-secondary me-3"
              (click)="pluginConfig.backgroundAdvancedSlideshowInterval = 3600; apply()"
            >
              <i class="fas fa-solid fa-rotate-left"> </i>
            </button>
            <input
              class="form-control param-input"
              type="number"
              [(ngModel)]="pluginConfig.backgroundAdvancedSlideshowInterval"
              (ngModelChange)="apply()"
              [min]="1"
              [max]="604800"
              [step]="1"
            />
          </div>
          <div class="form-line">
            <div class="header">
              <div class="title" translate>Background choose type</div>
              <div class="description" translate>How to choose background</div>
            </div>
            <select
              class="form-control"
              [(ngModel)]="pluginConfig.backgroundAdvancedChooseType"
              (ngModelChange)="apply()"
            >
              <option [ngValue]="'sequence'" translate>Sequence</option>
              <option [ngValue]="'random'" translate>Random</option>
            </select>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink translate>UI Font</a>
    <ng-template ngbNavContent>
      <div class="form-line">
        <div class="header">
          <div class="title" translate>Enable UI font replace</div>
          <div class="description" translate>
            Do not affect the terminal font in the [appearance] configuration
          </div>
        </div>
        <toggle [(ngModel)]="config.store.backgroundPlugin.uiFontEnabled" (ngModelChange)="apply()">
        </toggle>
      </div>
      <div class="content-box" *ngIf="config.store.backgroundPlugin.uiFontEnabled === true">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>UI Font Family</div>
          </div>
          <div class="input-group w-75">
            <input
              class="form-control font-family-input"
              type="text"
              [(ngModel)]="config.store.backgroundPlugin.uiFontFamily"
              (ngModelChange)="apply()"
            />
            <input
              class="form-control font-size-input"
              type="number"
              min="5"
              max="48"
              [(ngModel)]="config.store.backgroundPlugin.uiFontSize"
              (ngModelChange)="apply()"
            />
          </div>
        </div>
        <div class="form-line">
          <div class="header">
            <div class="title" translate>Fix close button font</div>
            <div class="description" translate>Restore the tab closing button to default font</div>
          </div>
          <toggle
            [(ngModel)]="config.store.backgroundPlugin.uiFontTabBarCloseBtnFix"
            (ngModelChange)="apply()"
          >
          </toggle>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink translate>Others</a>
    <ng-template ngbNavContent>
      <ng-container *ngFor="let item of others">
        <div class="form-line">
          <div class="header">
            <div class="title" translate>{{ item.title }}</div>
            <div class="description" translate>{{ item.description }}</div>
          </div>
          <input
            class="me-3"
            type="range"
            [(ngModel)]="config.store.backgroundPlugin[item.model]"
            (mouseup)="apply()"
            [min]="item.min"
            [max]="item.max"
            [step]="item.step"
          />
          <button
            class="btn btn-outline-secondary me-3"
            (click)="config.store.backgroundPlugin[item.model] = item.default; apply()"
          >
            <i class="fas fa-solid fa-rotate-left"> </i>
          </button>
          <input
            class="form-control param-input"
            type="number"
            [(ngModel)]="config.store.backgroundPlugin[item.model]"
            (ngModelChange)="apply()"
            [min]="item.min"
            [max]="item.max"
            [step]="item.step"
          />
        </div>
      </ng-container>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
